@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/airbnb-cereal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@theme {
  --font-cereal: "Airbnb Cereal", sans-serif;
  --font-pixel: "Press Start 2P", cursive;
}

@utility text-stroke-black {
  -webkit-text-stroke: 1px #131313;
  text-stroke: 1px #131313;
}
